/*стили для страницы*/

.clearfix:after {
    content: ' ';
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

* {
    box-sizing: border-box;
}

body {
    font-size: 1.35em;
    font-family: 'Nunito', sans-serif;
    color: #fff;
    background: #e8e9e9;
    padding-left: 5%;
    padding-right: 5%;
}

h1 {
    color: #555;
}

.common-view {
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    margin: 45px auto;
    box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
}

.flex-element {
    color: #fff;
    padding: 15px;
    margin: 5px;
    background: firebrick;
    border-radius: 3px;
}



pre {
    border: 1px dashed #000;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto 10px auto;
    box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
    background:#fff;
    color:#000;
}

pre > span {
    color:#a535ae;
}

pre.type-html > span {
    color: #00a33f;
}

hr {
    margin-top: 50px;
}

.code-type {
    font-size: 18px;
    margin-bottom: 7px;
    display: inline-block;
}

.type-css {
    color: #2a0cc5;
}

.type-html {
    color: #a52d10;
}
