AddType test/cache-manifest .manifest


# На вермя разработки лучше отключить кэширование
ExpiresActive On
ExpiresDefault "access"

# Кэширование отключается для всего каталога, и для рабочего кода
# такие меры нежелательны. Однако они гарантируют, что браузер всегда
# будет запрашивать новую версию файла манифеста.
# Если вы изменяете файл, указанный в манифесте, также отредактируйте
# файл манифеста — измените комментарий с номером версии.